.shop_container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.items_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
}
.items_section img {
    width: 100%;
    border-radius: 5px;
  }
.cart_section {
    padding-top: 40px;
    padding-right: 40px;
}
  